<% if current_user.admin? %>
  <% @users.each do |user| %>
    <%= link_to user.name, events_admin_user_path(user) %>
  <% end %>
<% else %>
  <div>
    <%= render partial: "top", locals: { event: @event } %>
  </div>
<% end %>