<% if current_user.admin? %>
  <div class="btn-group-vertical">
    <% User.where.not(id: current_user.id).each do |user| %>
      <%= link_to user.name, events_admin_user_path(user), class: "btn btn-outline-dark" %>
    <% end %>
  </div>
  <div>
    <a href="/rooms/new" class="btn btn--circle"><i class="far fa-envelope"></i><br>ルーム作成<br><i class="fas fa-angle-down fa-position-bottom"></i></a>
  </div>
  <div>
    <a href="/rooms" class="btn btn--circle1"><i class="far fa-envelope"></i><br>ルーム選択<br><i class="fas fa-angle-down fa-position-bottom"></i></a>
  </div>
<% else %>
  <div>
    <%= render partial: "top", locals: { event: @event } %>
  </div>
<% end %>